{% extends 'layout.html' %} {% load static%} {% block content %}
<nav
  class="navbar navbar-b navbar-trans navbar-expand-md fixed-top"
  id="mainNav"
>
  <div class="container">
    <div style="font-family: 'Metamorphous', cursive;">
      <a class="navbar-brand js-scroll" href="{% url 'app:home' %}">RN</a>
    </div>
    <button
      class="navbar-toggler collapsed"
      type="button"
      data-toggle="collapse"
      data-target="#navbarDefault"
      aria-controls="navbarDefault"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div
      class="navbar-collapse collapse justify-content-end"
      id="navbarDefault"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll" href="{% url 'app:projects' %}"
            >PortFolio</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div
  class="intro intro-single route bg-image"
  style="background-image: url(/{{project.picture_URL}})"
>
  <div class="overlay-mf"></div>
  <div class="intro-content display-table">
    <div class="table-cell">
      <div class="container">
        <h2 class="intro-title mb-4">{{p.title}}</h2>
        <ol class="breadcrumb d-flex justify-content-center">
          <li class="breadcrumb-item">
            <a href="{% url 'app:home' %}">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'app:projects' %}">All Projects</a>
          </li>
          <li class="breadcrumb-item active">{{project.title}}</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<section class="blog-wrapper sect-pt4" id="blog">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="post-box">
          <div class="post-thumb">
            <img
              src="/{{project.picture_URL}}"
              class="img-fluid"
              alt="{{project.title}}"
            />
          </div>
          <div class="post-meta">
            <h1 class="article-title">{{project.title}}</h1>
            <ul>
              <li>
                <span class="ion-ios-person"></span>
                <a href="{{project.link}}" target="_blank">{{project.title}}</a>
              </li>
              <li>
                <i class="devicon-github-plain-wordmark colored"></i>
                <a href="{{project.repo}}" target="_blank">GitHub</a>
              </li>
              <li>
                <span class="w-ctegory"
                  >Tags: {% for t in project.tags.all %}
                  <i class="devicon-{{t.value}}-plain colored"></i>
                  {% endfor %}
                </span>
              </li>
            </ul>
          </div>
          <div class="article-content">
            {{project.text | safe}}
            <a
              href="{{project.link}}"
              target="_blank"
              class="button button-a button-big button-rouded"
              >Live Demo</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
